<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="LocalDev" value="$(MyLocalNuGetFeed)" />
  </packageSources>

  <disabledPackageSources>
    <add key="LocalDev" value="true" />
  </disabledPackageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="FrWireplumber" />
    </packageSource>

    <packageSource key="LocalDev">
      <package pattern="FrWireplumber" />
    </packageSource>
  </packageSourceMapping>
</configuration>
